.test{
color:red;
}
html, body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  min-height: 100%; /* for firefox */
}

.horizontal{
    float:left;
    white-space:nowrap;
    display:inline;
}

.vertical{
    float:left;
    width:100%;
}

.cell-xmod3is2{
    border-right: 4px solid black;
}

.cell-ymod3is2{
    border-bottom: 4px solid black;
}

.cell-isleft{
    border-left: 4px solid black;
}

.cell-istop{
    border-top: 4px solid black;
}

.sudokucell{
    width:50px;
    height:50px;
    text-align:center;
    font-size:25px;
}
